.card-title {
    align-items: flex-start;
    color: red;
    display: flex;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
}