@primary-A100: #ffe57f;
@primary-300: #ffd54f;
@primary-500: #ffc107;
@primary-800: #ff8f00;

@accent-A100: #82B1FF;
@accent-300: #64B5F6;
@accent-500: #2196F3;
@accent-800: #1565C0;

@white-divider: rgba(255,255,255,0.12);
@white-disabled: rgba(255,255,255,0.30);
@white-secondary: rgba(255,255,255,0.70);
@white-text: rgba(255,255,255,1);

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%);
@gray-dark:              lighten(@gray-base, 20%);
@gray:                   lighten(@gray-base, 33.5%);
@gray-light:             lighten(@gray-base, 46.7%);
@gray-lighter:           lighten(@gray-base, 93.5%);
