span.dir.text {
    margin-top: 10px;
}

span.dir {
    font-size: 12px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    float: right;
    margin-left: 5px;
}

.ghead {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-right: 16px;
    font-weight: bold;
    padding: 0;
    border: 0;
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    height: 30px;
}
